name: air-quality-daily

on:
  workflow_dispatch:
  schedule:
    - cron: "0 6 * * *"

jobs:
  schedule_pipelines:
    runs-on: ubuntu-latest

    permissions:
      pages: write
      contents: write

    steps:
      - name: checkout repo content
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: execute python workflows using Makefile
        env:
          HOPSWORKS_API_KEY: ${{ secrets.HOPSWORKS_API_KEY }}
        run: |
          echo "HOPSWORKS_API_KEY=$HOPSWORKS_API_KEY" > .env
          make inference

      - name: github pages publish
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Air Quality Dashboard published"
          commit_options: "--no-verify --signoff"

          file_pattern: "docs/air-quality/assets/img/* docs/_includes/*"

          repository: .

          status_options: "--untracked-files=no"

          skip_dirty_check: true

          skip_fetch: true

          skip_checkout: true

          push_options: "--force"
